* {
	
}

.display-none {
	
	display:none;
	
}

.label-text {
	
	font-size: 15px;
	
}

.title-row{
	background-color: #f8f8f8;
}

.padding {
	
	padding-left: 20px;
	padding-right: 20px;
	
}

#loading{
	display:none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}